.playimage[data-playing="false"]:hover, .playimage[data-playing="true"] {
    clip-path: circle(farthest-side at center);
    cursor: pointer;
}

.playimage[data-playing="true"] {
    animation-name: playimage;
    animation-duration: 1800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes playimage {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}